@import "../../components/assests/debris.scss";
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2010;

  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .modal.modal-dialog{
    background-color: #fff;
    border-radius: .4rem;
    padding: 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 28.5rem;

    .modal-hd{
      @include cross-line_after;
      padding: 1.3rem;
      text-align: center;
    }
    .modal-bd{

    }
    .modal-ft{
      .btn_group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

body.modal-show{
  position: fixed;
  width: 100%;
}
